<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Pengaturan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label color="primary">TAMPILAN</ion-label>
  </ion-list-header>

  <ion-list inset="true">
    <ion-item>
      <ion-icon name="moon-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Mode Tema</ion-label>
      <ion-select [value]="currentTheme" (ionChange)="changeTheme($event)" justify="end" interface="popover">
        <ion-select-option value="light">Terang</ion-select-option>
        <ion-select-option value="dark">Gelap</ion-select-option>
        <ion-select-option value="system">Sesuai Perangkat</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label color="primary">DATA & CADANGAN</ion-label>
  </ion-list-header>

  <ion-list inset="true">
    <ion-item button (click)="onExport()" detail="true">
      <ion-icon name="cloud-upload-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h2 style="font-weight: 400;">Export Kontak</h2>
        <p style="font-size: 0.85rem; color: var(--ion-color-medium);">Simpan data ke file JSON</p>
      </ion-label>
    </ion-item>

    <ion-item button (click)="fileInput.click()" detail="true">
      <ion-icon name="download-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h2 style="font-weight: 400;">Import Kontak</h2>
        <p style="font-size: 0.85rem; color: var(--ion-color-medium);">Muat data dari file JSON</p>
      </ion-label>
      <input #fileInput type="file" (change)="onImport($event)" accept=".json" hidden>
    </ion-item>
  </ion-list>

  <div class="ion-padding footer-info">
    <p class="ion-text-center">Aplikasi Dalam Masa Pengembangan.</p>
  </div>
</ion-content>
